<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.briup.mappers.One2MoreMapper">

	<resultMap type="Course" id="CourseMap">
		<id column="course_id" property="courseId"/>
		<result column="cname" property="name"/>
		<result column="description" property="description"/>
		<result column="start_Date" property="startDate"/>
		<result column="end_Date" property="endDate"/>
	</resultMap>
	
	<select id="findCourseById" parameterType="int" resultMap="CourseMap">
		select *
		from courses
		where course_id=#{id}
	</select>
	
	<select id="findCourseByTutorId" parameterType="int" resultMap="CourseMap">
		select *
		from courses
		where tutor_id=#{id}
	</select>

	<resultMap type="Tutor" id="TutorWithAddressMap">
		<id column="tutor_id" property="tutorId"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		
		<!-- 嵌套结果查询 -->
		<association property="address" select="com.briup.mappers.One2OneMapper.findAddressById" column="addr_id"></association>
		
		<!-- 嵌套查询，获取所包含的所有course对象，放入courses集合 -->
		<collection property="courses" select="findCourseByTutorId" column="tutor_id"></collection>
	</resultMap>

	<select id="findTutorByIdWithAddress" parameterType="int" resultMap="TutorWithAddressMap">
		select * 
		from tutors
		where tutor_id=#{id}
	</select>
	
	<!-- 嵌套结果映射 -->
	<resultMap type="Tutor" id="TutorWithAddressMap2">
		<id column="tutor_id" property="tutorId"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		
		<!-- 嵌套结果查询 -->
		<association property="address" select="com.briup.mappers.One2OneMapper.findAddressById" column="addr_id"></association>
		
		<!-- 嵌套结果映射 -->
		<collection property="courses" resultMap="CourseMap"></collection>
	</resultMap>
	
	<select id="findTutorByIdWithAddress2" parameterType="int" resultMap="TutorWithAddressMap2">
		select t.*,c.name cname,c.*
		from tutors t,courses c
		where t.tutor_id=c.tutor_id
			and t.tutor_id=#{id}
	</select>
	
	<resultMap type="Tutor" id="TutorWithAddressMap3">
		<id column="tutor_id" property="tutorId"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		
		<!-- 嵌套结果映射 一对一 -->
		<association property="address" resultMap="com.briup.mappers.One2OneMapper.AddressMap"></association>
		
		<!-- 嵌套结果映射 一对多 -->
		<collection property="courses" resultMap="CourseMap"></collection>
	</resultMap>
	
	<select id="findTutorByIdWithAddress3" parameterType="int" resultMap="TutorWithAddressMap3">
		select t.*,c.name cname,c.*,a.*
		from tutors t,courses c,addresses a
		where t.tutor_id=c.tutor_id
			and t.addr_id=a.addr_id
			and t.tutor_id=#{id}
	</select>
	
	<!-- 插入一个讲师 -->
	
	
</mapper>










